body{

    background: linear-gradient( 135deg, #1b2b32 90%,lightgray);
    height: 100vh;

}
.outer{

display: flex;
justify-content: center;


}
h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}
.contanier{

  background-color: #1b2b3f;
  width: 350px;
  height: 400px;
  border-radius: 10%;
  border: 10px solid gray;
  
}
.inpu1{
  margin-left: 18px ;
  outline: none;
  padding: 7px;
  background: transparent;
  color: white;

}
.btn{
  padding: 7px;
}
.btn:hover{
  background-color: cyan ;
  padding: 7px;
  outline: none;
  border: none;
}
.check{
  margin-left: 20px;
  
}